* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

section {
  padding: 1.5rem;
  max-width: 550px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--image {
  margin-top: 26px;
  max-width: 400px;
  align-self: center;
}

.hero--title {
  font-size: 36px;
  margin-top: 32px;
}

.hero--title > p {
  max-width: 320px;
  font-size: 16px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  background: white;
  font-weight: bold;
  margin: 0.5rem;
  padding: 3px 10px;
  border-radius: 3px;
}
